<div background-img="{{imgUrl}}">
  <div class="login-page container">
    <div class="form border-sm">
      <form class="login-form">
        <h2>Welcome Back!</h2>
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a toggle-auth>Create an account</a></p>
      </form>
      <form class="register-form">
        <h2>Signup to {{ companyName }} for Free!</h2>
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a toggle-auth>Sign In</a></p>
      </form>
    </div>
    
  </div>

</div>