@import 'config';

@mixin horizontalLayout($left, $right){

  @media (min-width : $phone) {

    .left-#{$left} {
      display: inline-block;
      width: 100%;
    }
    .right-#{$right} {
      width: 100%;
      float: right;
    }
  }

  @media (min-width: $tablet) {

    .left-#{$left} {
      width: $left * 1%;
    }
    .right-#{$right} {
      width: $right * 1%;
    }
  }

}

@include horizontalLayout(60, 35);
@include horizontalLayout(35, 60);